.embedded-video {
    display: flex;
    justify-content: center
}

.img-block {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: flex-end;
    margin: 30px 34px 0
}

.large-img {
    display: block;
    align-items: center;
    text-align: center;
}

.bullet-points {
    margin-left: 20px;
}

.carousel.slide {
    display: flex;
    align-items: center;
    margin: auto;
    height: 300px;
    width: 650px;
    background: #060b26;
    border-radius: 10px;
}

.carousel-item {
    text-align: center;
    align-items: center;
    font-size: xx-large;
    color: #FFFFFF;
}