.scrum-board {
    margin: auto;
    background-color: #060b26;
    padding: 30px 34px 30px;
    width:1419px;
    border-radius: 10px;
}

.flippy-container{
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
    min-height: 630px;
}

.flippy-card.flippy-front , .flippy-card.flippy-back {
    padding: 0;
    width: 220px;
}

.scrum-column {
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-top: 0;
    width: 220px;
    min-height: 630px;
    background-color: #f0eeee;
    border-radius: 4px;
}

.scrum-card {
    background-color: #f9f7f7;
    padding-left: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 0;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 4px;
}

.time-frame {
    vertical-align: middle;
    text-align: center;
    margin-left: auto;
    margin-right: 5px;
    width: 65px;
    height: 25px;
    background-color: #8a8a8a;
    border-radius: 4px;
}

.scrum-h5 {
    text-align: center;
}