.topic-card {
    height: 100%;
    width: 100%
}

.subpage-card {
    width: 300px;
    margin: 10px 25px 10px;
}

.subpage-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.question-card {
    display: flex;
    height: 200px;
    width: 450px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.interview-card {
    display: flex;
    width: 300px;
    height: 150px;
    justify-content: center;
    align-items: center;
}

.workflow-card {
    width: 500px;
    margin: 5px;
}

.perfect-cv-card {
    width: 500px;
    margin: 10px;
}

.nerves-card {
    width: 450px;
    margin: 10px;
}

.linkedin-card.flippy-front, .linkedin-card.flippy-back {
    display: flex;
    width: 330px;
    height: 300px;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 5px;
}

.competency-card.flippy-front, .competency-card.flippy-back {
    display: flex;
    width: 250px;
    height: 200px;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 5px;
}

.trait-card.flippy-front, .trait-card.flippy-back {
    display: flex;
    width: 200px;
    height: 100px;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 5px;
}

.testing-pattern.flippy-front, .testing-pattern.flippy-back {
    display: flex;
    width: 250px;
    height: 100px;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 5px;
}
