.sidebar-pages {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mark-as-completed {
    display: flex;
    justify-content: flex-end;
}

.complete-button {
    text-align: center;
    width: 100px;
    height: 100px;
}

.subpage {
    margin-left: 12%;
}

.git-workflows {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.bullet-points {
    margin-left: 20px;
}

.center-grid-container {
    justify-content: center;
}

.competency-grid {
    margin-top: 10px;
    justify-content: space-evenly;
}

.grid-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.embedded-video {
    margin: 40px;
    display: flex;
    justify-content: center
}