.align-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.leaderboard-entry {
    display: flex;
    width: 100%;
    height: 50px;
    margin: 3px 0;
    align-items: center;
}

.leaderboard-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.leaderboard-loading {
    display: flex;
    justify-content: center;
    padding-top: 200px;
}

.progress-diagram {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.progress-circle {
    position: relative;
    display: inline-flex;
}

.progress-percentage {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mark-as-completed {
    display: flex;
    justify-content: flex-end;
}

.complete-button {
    text-align: center;
    width: 100px;
    height: 100px;
}

.subpage {
    margin-left: 12%;
}

.git-workflows {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.bullet-points {
    margin-left: 20px;
}

.center-grid-container {
    justify-content: center;
}

.competency-grid {
    margin-top: 10px;
    justify-content: space-evenly;
}

.grid-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.embedded-video {
    margin: 40px;
    display: flex;
    justify-content: center
}